<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
  <title>Foursquare Open Source</title>
  <meta content="en" http-equiv="Content-Language" />
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  <meta content="Foursquare Open Source" name="application-name" />
  <meta content="#0ca9c9" name="msapplication-TileColor" />
  <meta content="https://playfoursquare.s3.amazonaws.com/misc/foursquare-144-logo.png" name="msapplication-TileImage" />
  <meta content="Start the foursquare App" name="msapplication-tooltip" />
  <meta content="/" name="msapplication-starturl" />
  <meta content="width=1024;height=768" name="msapplication-window" />
  <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
  <link rel="logo" href="https://playfoursquare.s3.amazonaws.com/press/logo/foursquare-logo.svg" type="image/svg"/>
  <script type="text/javascript" src="https://ss1.4sqi.net/scripts/third_party/jquery-1.7.2.min-b8d64d0bc142b3f670cc0611b0aebcae.js"></script>
  <!-- <script type="text/javascript" src="https://ss1.4sqi.net/scripts/build/en/leaflet/root-769b42a8d1a484c702db4f44bfd715e0.js"></script>
  <script type="text/javascript" src="https://ss0.4sqi.net/scripts/build/en/chrome/root-51d1a8400fde312182bb11910dc00b49.js"></script>
  <script type="text/javascript" src="https://ss0.4sqi.net/scripts/build/en/foursquare/root-0e93fdc531ae3f3daa5d2c56e0a8041a.js"></script>
  <script type="text/javascript" src="https://ss0.4sqi.net/scripts/build/en/foursquare/map-support-23c66fbc82e3b6f7c4b34b53b771a0e1.js"></script>
  <script type="text/javascript" src="https://ss1.4sqi.net/scripts/build/en/foursquare/new-logged-in-homepage-1dfb0833de2dc8d417efba3745f89b8f.js"></script> -->
  <script type="text/javascript">
  var _gaq = _gaq || [];
  if (window.location.host === 'developer.foursquare.com') {
    _gaq.push(['_setAccount', 'UA-2322480-16']);
  } else if (window.location.pathname.indexOf('/mobile/') === 0) {
    _gaq.push(['_setAccount', 'UA-2322480-9']);
  } else {
    _gaq.push(['_setAccount', 'UA-2322480-5']);
  }
  _gaq.push(['_trackPageview']);
  _gaq.push(['_trackPageLoadTime']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  var _sf_startpt=(new Date()).getTime();
  var _sf_async_config = {uid: 11280};
  if (window.location.host != 'developer.foursquare.com') {
    _sf_async_config.domain = 'foursquare.com';
  }
</script>
<style type="text/css">
html {box-sizing: border-box;}
* {
  border: none;
  margin: 0;
  padding: 0;
  outline: none;
}
*, *:before, *:after {box-sizing: inherit;}
body {
  color: #4E595D;
  font: normal 13px/140% "Helvetica Neue",Helvetica,Verdana,Arial,sans-serif;
  letter-spacing: 0;
  -webkit-font-smoothing: antialiased;
}
h1 {
  font-size: 42px;
  font-weight: 300;
  line-height: 50px;
}
h2 {
  font-size: 24px;
  font-weight: normal;
  line-height: 35px;
  margin: 0 0 32px;
}
.header {
  background: #0732A2;
  height: 60px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000000;
}
.wrap {
  margin: 0 auto;
  max-width: 1060px;
}
#logo {
  background: url('img/logo.png') left center no-repeat;
  display: inline-block;
  float: left;
  height: 40px;
  margin: 12px 19px 8px 0;
  text-indent: -9999px;
  width: 145px;
}
.banner {
  background: #00B551;
  color: #FFFFFF;
  display: table;
  height: 300px;
  margin-top: 60px;
  margin-bottom: 22px;
  text-align: center;
  width: 100%;
}
.banner .inner {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.row {
  border-bottom: 1px solid #F0F1F2;
  overflow: hidden;
  padding: 32px 20px 32px 20px;
}
.row:last-child {
  border-bottom: none;
  margin-bottom: 0;
}
.system {
  clear: both;
  overflow: hidden;
}
.system .headline {margin-bottom: 20px;}
.system .headline .icon {
  display: table;
  float: left;
  height: 44px;
  margin-right: 20px;
  width: 44px;
}
.system .headline .icon .inner {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.system .headline .icon .inner img {}
.system .headline h2 {
  line-height: 44px;
  margin-bottom: 10px;
}
.system .project {
  float: left;
  margin-bottom: 20px;
  margin-right: 1.886792452%;
  width: 32.075471698%;
}
.system .project:nth-child(3n+1) {margin-right: 0;}
.system .project .title {
  border-radius: 3px 3px 0 0;
  margin-bottom: 5px;
}
.system .project .title span {
  color: #AEB4B6;
  font-size: 13px;
  font-weight: bold;
}
.system .project .title a {text-decoration: none;}
#footer {
  background: #F0F1F2;
  color: #AEB4B6;
  font-size: 11px;
  font-weight: bold;
  margin-top: 64px;
  padding: 45px 0 20px;
  text-align: center;
}
.contain {
  width: 960px;
  margin: 0 auto;
  position: relative;
  padding: 0 0 25px 0;
  text-align: center;
  position: relative;
  font-size: 11px;
  /* font-weight: bold; */
  -webkit-font-smoothing: antialiased;
}
ul {
  list-style: none;
}
.contain ul li {
  display: inline;
}
.contain ul li a {
  color: #999;
  margin: 0 7px;
  text-decoration: none
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 20%, 0);
            transform: translate3d(0, 20%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 20%, 0);
            transform: translate3d(0, 20%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
@media screen and (max-width: 800px) {
  #logo {margin-left: 20px;}
  .banner {padding: 0 20px;}
  .banner h1 {
    font-size: 24px;
    font-weight: normal;
    line-height: 35px;
  }
  .system .project {
    float: left;
    width: 45%;
  }
}
@media screen and (max-width: 600px) {
.system .project {
    float: none;
    width: auto;
  }
}
</style>
<meta name="viewport" content="width=device-width">
</head>
<body class="notrans">
  <div id="wrapper">
    <div class="header">
      <div class="wrap">
        <a href="https://github.com/foursquare" id="logo">Foursquare</a>
      </div>
    </div>
    <div id="container">

      <div class="banner">
        <div class="inner">
          <div class="wrap">
            <h1 class="fadeInUp">Welcome to the Foursquare open source portal</h1>
            <h2 class="fadeInUp">where you can find all of the great projects our engineers are working on.<br><br>This includes mobile and our new project Fsq.io, which deploys many open source projects directly from our internal repo.</h2>
         </div>
        </div>
      </div>
      {{#categories}}
      <div class="row">
        <div class="wrap">
          <div class="system">
            <div class="headline">
              <div class="icon">
                <div class="inner"><img src="img/{{index}}.png" /></div>
              </div>
              <h2>{{name}}</h2>
            </div>
            {{#repos}}
            <div class="project">
              <div class="title">
                <h3><a href="{{href}}">{{name}}</a></h3>
                {{#has_website}}
                <h5><a href="{{website}}">Website</a></h5>
                {{/has_website}}
              </div>
              <p data-fulltext="{{description}}">{{description}}</p>
            </div>
            {{/repos}}
          </div>
        </div>
      </div>
      {{/categories}}
    </div>

    <div id="footer">
      <div class="contain">
         <ul>
          <li><a href="http://foursquare.com/about">About</a></li>
          <li><a href="http://blog.foursquare.com">Blog</a></li>
          <li><a href="http://engineering.foursquare.com">Eng Blog</a></li>
          <li><a href="http://business.foursquare.com">Business</a></li>
          <li><a href="http://foursquare.com/cities">Cities</a></li>
          <li><a href="http://developer.foursquare.com">Developers</a></li>
          <li><a href="http://foursquare.com/help">Help</a></li>
          <li><a href="http://foursquare.com/jobs/">Jobs</a></li>
          <li><a href="http://foursquare.com/legal/cookiepolicy">Cookies (Updated)</a></li>
          <li><a href="http://foursquare.com/legal/privacy">Privacy (Updated)</a></li>
          <li><a href="http://foursquare.com/legal/terms">Terms</a></li>
        </ul>
        <p>Foursquare © 2015 &nbsp;Lovingly made in NYC &amp; SF</p>
      </div>
    </div>

    <noscript>
      <div id="noscript">
        <h3>You must enable JavaScript to use foursquare.com</h3>
        <p>
          We use the latest and greatest technology available to provide the best possible web experience.
          <br />
          Please enable JavaScript in your browser settings to continue.
        </p>
        <p class="small">
          <a href="/download">Download Foursquare</a>
          for your smart phone and start exploring the world around you!
        </p>
      </div>
    </noscript>
</body>
</html>
